body {
    //box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 30px;
        padding: 20px;
        margin-top: 20vh;
    }


    div {
        margin:auto;
        text-align: center;        
    };    
}

#get-joke {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border: 2px solid white;
    background-color: #1385e2;
    border-radius: 10px;
    color: white;
    &:hover {
        border: 2px solid #1385e2;
        background-color: white;
        color: #1385e2; 
    }
}

#joke {
    max-width: 80vh;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;

}